@import "../../index";


.Home{
  width: 100%;
}
.Container{
  margin: 6% 100px 0 100px;
  display: flex;
}
.Message-box{
  position: absolute;
  width: 35%;
  left: 10%;
  top:25%;
}
.Message-Title{
  font-weight: 550;
  font-size: 35px;
  margin-bottom: 10px;
}
.Message-Subheading{
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 10px;
}
.Img{
  position: absolute;
  width: 50%;
  left: 70%;
  top:50%;
  transform: translate(-50%,-50%);

}

