@import "../../index";


.Home {
  margin-top: 8%;
  background-size: cover;
}

.Container{
  text-align: left;
  margin-left: 100px;
  width: calc(30% - 40px );

  @media only screen and (max-width: 960px) {
    width: calc(80% - 40px );
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .Title{
    margin-bottom: 20px;
  }
  .Subheading{
    width: 60%;
    margin-bottom: 20px;
    @media only screen and (max-width: 960px) {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .Button{
    margin-bottom: 10px;

  }
}
