$main-color: #EA7925;
$link-color: light blue;


body {
  text-decoration: bold;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #F8F8F8;
}

