# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=2821a63227ec31a79e37aabe59fae1e4
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

# container namespace
COMPOSE_PROJECT_NAME=akademija

# mount local ssh private key into fpm container to be able to
# pull private git repositories
LOCAL_SSH_PRIVATE_KEY=~/.ssh/id_rsa

# mysql config
MYSQL_DATABASE=akademija