.User {
  width: 100%;
  overflow-y: auto;
}

.main {
  position: relative;
  display: inline-block;
  width: calc(33.3333% - 40px);
  margin:  20px;
  cursor: pointer;
  @media only screen and (max-width: 960px) {
    position: relative;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.Card{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 40px 50px 40px 50px;
  text-decoration: none;
  color: inherit;
}
.Card-title{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.Card-MoneySpend{
  margin: 10px 0 10px 0;
  font-size: 15px;
  text-align: center;
}

.Loader-container {
  position: absolute;
  left: 50%;
  top:40%;
  transform: translate(-50%,-50%);
}
.SearchBar {
  width: 50%;
  margin: auto;
  padding: 15px;
}
