// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.nfq-academy {
  margin: 20px auto;
  text-align: center;
  font-size: 96px;
  font-weight: 100;
  font-family: 'Lato', serif;
}