.ProjectForm {
  width: 40%;
  margin: 50px auto 0;
  height: auto;
  padding: 10px 20px;
  background-color: #bbbbbb;
  border-radius: 5px;
  box-sizing: border-box;

  h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
  }

  input, textarea {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 2px;
    margin: 10px auto;
    box-sizing: border-box;
  }

  .react-datepicker-wrapper {
    width: 100%;

    .react-datepicker__input-container {
      width: 100%;
      margin: 0;
    }

    .calendar__head {
      background-color: #FF690E;
    }
  }

  .form-submit {
    margin: 0 auto;
    display: block;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: #FF690E;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: white;
    }
  }
}

@media (max-width: 900px) {
  .ProjectForm {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .ProjectForm {
    width: 90%;
  }
}