.about{
  width: 100%;
  overflow-y: auto;
  text-align: center;

}
.paper{
  margin-top: 50px;
  position: relative;
  width: calc(60% - 40px);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.Heading{
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
  color: #181818;
}