.ProjectInfo {
  padding: 20px;


  .Project {
    background-color: #bbbbbb;
    border-radius: 4px;
    padding: 10px;
    width: 40%;
    margin: auto;
    &-title {
      text-align: center;
      font-size: 28px;
    }

    &-span {
      display: block;
      text-align: left;
    }
  }

  .Back {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 650px) {
  .ProjectInfo {
    .Project {
      width: 90%;
    }
  }
}