.ProjectsList {
  width: 100%;
  overflow-y: auto;
}

.main {
  position: relative;
  display: inline-block;
  width: calc(25% - 40px);
  margin:  20px;
  cursor: pointer;
  @media only screen and (max-width: 960px) {
    position: relative;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.Card{
  display: flex;
  flex-direction: column;
  padding: 50px 50px 40px 50px;
}
.Card-title{
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}
.Card-description{
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  text-align: left;
}
.Card-progress{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card-progress-bar{
  width: 70%;
}
.VoteButtons{
  text-align: center;
}

.ReadMoreButton{
  border-radius: 25px;
  text-align: center;
}

.btn {
  border-radius: 50%;
}

