.Login {
  width: 30%;
  margin: 8% auto 0;
  padding: 10px 10px;
  background-color: #ffffff;
}

@media (max-width: 900px) {
  .Login {
    margin: 15% auto 0;
    width: 40%;
  }
}

@media (max-width: 500px) {
  .Login {
    margin: 25% auto 0;
    width: 60%;
  }
}