.Login {
  width: 30%;
  margin: 8% auto 0;
  padding: 10px 10px;
  background-color: #ffffff;
}
.subheading{
  margin-top: 5px;
  font-size: 14px;
  color: #000000;
  text-align: center;
}

@media (max-width: 900px) {
  .Login {
    margin: 15% auto 0;
    width: 40%;
  }
}

@media (max-width: 500px) {
  .Login {
    margin: 25% auto 0;
    width: 60%;
  }
}