{% block body_text %}
    {% autoescape false %}
        <p>Hi, this is your activation link:</p>
        <br>
        <p>{{ authenticationLink }}</p>
        <br>
        <p>With this link you can register in the HobbyCraft page.</p>
        <br>
        <p>Help your colleagues complete their hobbies or place yours.</p>
        <br>
        Greetings,
        the Hobby team
    {% endautoescape %}
{% endblock %}
